name: Stage Chart Deployment
on:
  repository_dispatch:
    types: [stage-deployment-trigger]

env:
  VERSION: ${{ github.event.client_payload.version }}
  ENVIRONMENT: ${{ github.event.client_payload.environment }}
  APP_NAME: ${{ github.event.client_payload.app-name }}
  AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
  REGISTRY: ${{ github.event.client_payload.environment }}containerregistry5th7aytwop.azurecr.io
  AZURE_AKS_CLUSTER: ${{ github.event.client_payload.environment }}-aks-cluster

jobs:
  dev-chart:
    name: Dev Chart
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      
      - name: Configure kubectl
        uses: azure/setup-kubectl@v3
        with:
            version: 'latest'

      - name: Azure login
        uses: azure/login@v2
        with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set kubeconfig
        run: |
          az aks get-credentials \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
            --name ${{ env.AZURE_AKS_CLUSTER }} \
            --admin \
            --overwrite-existing

      - name: Verify kubectl connection
        run: |
          kubectl get nodes

      - name: Deploy the ${{ env.VERSION }} version
        run: |
            echo "Deploying ${{ env.APP_NAME }} version ${{ env.VERSION }} to ${{ env.ENVIRONMENT }}"
            if helm upgrade --install ${{ env.APP_NAME }} ./charts/${{ env.APP_NAME }} \
              -n ${{ env.ENVIRONMENT }} \
              --set image.tag=${{ env.VERSION }} \
              --set image.repository=${{ env.REGISTRY }}/${{ env.APP_NAME }} \
              -f charts/${{ env.APP_NAME }}/values.yaml \
              --wait --timeout 10m; then
              echo "✅ Deployed ${{ env.APP_NAME }} successfully"
            else
              echo "❌ Deployment of ${{ env.APP_NAME }} failed"
              exit 1
            fi

      - name: Check status
        run: |
          echo "Checking helm status for ${{ env.APP_NAME }}..."

          if helm status ${{ env.APP_NAME }} -n ${{ env.ENVIRONMENT }}; then
              echo "✅ ${{ env.APP_NAME }} is deployed"
            else
              echo "❌ ${{ env.APP_NAME }} is not deployed, aborting deployment"
              exit 1
            fi