replicaCount: 1

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false

service: []

ingress:
  enabled: false

resources: []

autoscaling: []

livenessProbe: []

readinessProbe: []

env: []

envFrom: []

nodeSelector: {}

tolerations: []

affinity: {}

applicationLoadBalancer:
  enabled: true
  stage:
    subnet-subscription-id: "/subscriptions/8b4a5f42-670c-4465-bb88-aebe7b4fdc01/resourceGroups/terraform-infra-stage/providers/Microsoft.Network/virtualNetworks/stage-net/subnets/public"
  dev:
    subnet-subscription-id: "/subscriptions/8b4a5f42-670c-4465-bb88-aebe7b4fdc01/resourceGroups/terraform-infra-dev/providers/Microsoft.Network/virtualNetworks/dev-net/subnets/public"
  prod:
    subnet-subscription-id: "/subscriptions/8b4a5f42-670c-4465-bb88-aebe7b4fdc01/resourceGroups/terraform-infra-prod/providers/Microsoft.Network/virtualNetworks/prod-net/subnets/public"

Certificate:
  enabled: true
  name: tls
  dnsNames:
    - "*.infratestapp.pp.ua"

gatewayClass:
  enabled: true
  gatewayClassName: azure-alb-external
  listeners:
    - name: http-listener
      protocol: HTTP
      port: 80
      allowedNamespacesFrom: Same
    - name: https-listener
      protocol: HTTPS
      port: 443
      allowedNamespacesFrom: Same
      tls:
        terminate: true

gatewayNetworking:
  enabled: true
  httpsRoute:
    enabled: true
    name: https-route
    hostnames:
      stage:
        - "stage.infratestapp.pp.ua"
      dev:
        - "dev.infratestapp.pp.ua"
      prod:
        - "prod.infratestapp.pp.ua"
    rules:
      stage:
        - pathPrefix: "/"
          backends:
            - name: app-1
              port: 5000
      dev:
        - pathPrefix: "/"
          backends:
            - name: app-1
              port: 5000
      prod:
        - pathPrefix: "/"
          backends:
            - name: app-1
              port: 5000

  httpRedirect:
    enabled: true
    name: https-http-redirect
    hostnames:
      stage:
        - "stage.infratestapp.pp.ua"
      dev:
        - "dev.infratestapp.pp.ua"
      prod:
        - "prod.infratestapp.pp.ua"
    redirect:
      scheme: https
      statusCode: 301